/* _content/FlightTicketsReservationMVC/Views/Flight/SeatDetails.cshtml.rz.scp.css */
*[b-r9f6qtwk54], *[b-r9f6qtwk54]:before, *[b-r9f6qtwk54]:after {
    box-sizing: border-box;
}

html[b-r9f6qtwk54] {
    font-size: 16px;
}

.plane[b-r9f6qtwk54] {
    margin: 20px auto;
    max-width: 300px;
}

.cockpit[b-r9f6qtwk54] {
    height: 250px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #d8d8d8;
}

    .cockpit[b-r9f6qtwk54]:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 500px;
        width: 100%;
        border-radius: 50%;
        border-right: 5px solid #d8d8d8;
        border-left: 5px solid #d8d8d8;
    }

    .cockpit h1[b-r9f6qtwk54] {
        width: 60%;
        margin: 100px auto 35px auto;
    }

.exit[b-r9f6qtwk54] {
    position: relative;
    height: 50px;
}

    .exit[b-r9f6qtwk54]:before, .exit[b-r9f6qtwk54]:after {
        content: "EXIT";
        font-size: 14px;
        line-height: 18px;
        padding: 0px 2px;
        font-family: "Arial Narrow", Arial, sans-serif;
        display: block;
        position: absolute;
        background: green;
        color: white;
        top: 50%;
        transform: translate(0, -50%);
    }

    .exit[b-r9f6qtwk54]:before {
        left: 0;
    }

    .exit[b-r9f6qtwk54]:after {
        right: 0;
    }

.fuselage[b-r9f6qtwk54] {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
}

ol[b-r9f6qtwk54] {
    list-style: none;
    padding: 0;
    margin: 0;
}

.seats[b-r9f6qtwk54] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.seat[b-r9f6qtwk54] {
    display: flex;
    flex: 0 0 14.2857142857%;
    padding: 5px;
    position: relative;
}

    .seat:nth-child(3)[b-r9f6qtwk54] {
        margin-right: 14.2857142857%;
    }

    .seat input[type=checkbox][b-r9f6qtwk54] {
        position: absolute;
        opacity: 0;
    }

        .seat input[type=checkbox]:checked + label[b-r9f6qtwk54] {
            background: #bada55;
            -webkit-animation-name: rubberBand;
            animation-name: rubberBand-b-r9f6qtwk54;
            animation-duration: 300ms;
            animation-fill-mode: both;
        }

        .seat input[type=checkbox]:disabled + label[b-r9f6qtwk54] {
            background: #dddddd;
            text-indent: -9999px;
            overflow: hidden;
        }

            .seat input[type=checkbox]:disabled + label[b-r9f6qtwk54]:after {
                content: "X";
                text-indent: 0;
                position: absolute;
                top: 4px;
                left: 50%;
                transform: translate(-50%, 0%);
            }

            .seat input[type=checkbox]:disabled + label:hover[b-r9f6qtwk54] {
                box-shadow: none;
                cursor: not-allowed;
            }

    .seat label[b-r9f6qtwk54] {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.5rem;
        padding: 4px 0;
        background: #F42536;
        border-radius: 5px;
        animation-duration: 300ms;
        animation-fill-mode: both;
    }

        .seat label[b-r9f6qtwk54]:before {
            content: "";
            position: absolute;
            width: 75%;
            height: 75%;
            top: 1px;
            left: 50%;
            transform: translate(-50%, 0%);
            background: rgba(255, 255, 255, 0.4);
            border-radius: 3px;
        }

        .seat label:hover[b-r9f6qtwk54] {
            cursor: pointer;
            box-shadow: 0 0 0px 2px #5C6AFF;
        }

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand-b-r9f6qtwk54 {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand[b-r9f6qtwk54] {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand-b-r9f6qtwk54;
}
/* _content/FlightTicketsReservationMVC/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8qnwq8mxg3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8qnwq8mxg3] {
  color: #0077cc;
}

.btn-primary[b-8qnwq8mxg3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8qnwq8mxg3], .nav-pills .show > .nav-link[b-8qnwq8mxg3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8qnwq8mxg3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8qnwq8mxg3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8qnwq8mxg3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8qnwq8mxg3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8qnwq8mxg3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
